<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/base.css">
    <link type="text/css" rel="stylesheet" href="styles/doc.css">
    <link type="text/css" rel="stylesheet" href="styles/sidetree.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify.css">
    <script>
    var _staticFilePath = "styles/";
    var _typeTreeName = "goog";
    var _fileTreeName = "Source";
    </script>
    <script src="scripts/doc.formated.js"></script>
</head>

<body onload="grokdoc.onLoad();">

<div id="header">
    <div class="g-section g-tpl-50-50 g-split">
        <div class="g-unit g-first">
            <a id="logo" href="index.html">API Documentation</a>
        </div>

        <div class="g-unit">
            <div class="g-c">
                <strong>Go to class or file:</strong>
                <input type="text" id="ac" aria-haspopup="true">
            </div>
        </div>
    </div>
</div>

<div class="colmask rightmenu">
    <div class="colleft">
        <div class="col1 func-hide-protectedkey func-hide-privatekey">
            <?js= content ?>
        </div>
        <div class="col2">
            <?js= this.nav ?>
        </div>
    </div>
</div>

</body>
</html>
